<h1>Tags on Tags on Tags, yo!</h1>

<ul id="tags">
<% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag), class: "tag_name", id: "tag_#{tag.id}" %>
  </li>
  <% end %>
</ul>
<br>
<%= link_to "<< Back to That BadAss List O' Articles", articles_path %>
<!-- <%= link_to "Create a NEW BadAss Tag", new_tag_path, class: "new_tag" %> -->